.wrapper {
  .activity-title {
    font-size: 24px;
    letter-spacing: 1px;
    margin-bottom: 15px;
  }

  .content {
    .activity {
      font-family: 'Nunito Sans', sans-serif;
      font-size: 16px;
      font-weight: 200;
      margin: 5px;
    }
  }
}
