@import '../../../../public/assets/styles/Theme';
@import '../../../../public/assets/styles/Styling';

:root {
  --animation-duration: 500ms;
}

@keyframes animate-title {
  from {
    display: none;
    opacity: 0;
    margin-right: 100px;
  }

  to {
    display: block;
    opacity: 1;
    margin-right: 20px;
  }
}

.content-title {
  text-align: center;
  margin: 20px;
  color: $light;
  animation: animate-title;
  animation-fill-mode: forwards;
  animation-duration: var(--animation-duration);
}

.content-subtitle {
  opacity: 0;
  text-align: center;
  margin: 20px;
  color: $grey-2;
  animation: animate-title;
  animation-fill-mode: forwards;
  animation-delay: var(--animation-duration);
  animation-duration: var(--animation-duration);
}
