.img-profile {
  border-radius: 40px;
  float: right;
  padding: 20px;
  width: 200px !important;
}

.about-wrapper {
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center;
}

.about-info-wrapper {
  margin-bottom: 50px;
}

.about-info {
  font-family: 'Roboto';
  font-weight: 100;
  width: 500px;
  color: #3c3c3c;
  margin: 10px;
  text-align: justify;
  word-wrap: break-word;
  background-color: white;
  padding: 20px;
}

.paragraph {
  font-size: 16px !important;
}

.download-cv {
  display: flex;
  align-items: center;
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 100;
  padding: 10px;
}

.list-text {
  color: black;
}
