.about-banner-title {
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.img-profile {
  border-radius: 40px;
  float: right;
  padding: 20px;
  width: 200px !important;
}

.about-wrapper {
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center;
}

.about-info-wrapper {
  margin-top: 50px;
  margin-bottom: 50px;
}

.about-info {
  font-family: 'Roboto';
  font-weight: 100;
  font-size: 16px;
  color: white;
  width: 800px;
  margin: 10px;
  text-align: justify;
  word-wrap: break-word;
  background-color: rgb(229, 238, 252);
  padding: 20px;
  border-radius: 20px;
  background-color: #24292f;
  box-shadow: rgba(0, 0, 0, 0.562) 0px 13px 27px -5px, rgba(0, 0, 0, 0.726) 0px 8px 16px -8px;
}

.paragraph {
  font-size: 16px !important;
}

.download-cv {
  display: flex;
  align-items: center;
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 100;
  padding: 10px;
}

.list-text {
  color: white;
}
