@use 'sass:math';
@import 'colors', 'mixins', 'page';

.project-page {
  background-color: $content-page-background;
  min-height: 100vh;
}

.page-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 25rem;

  .header-title {
    font-family: 'Source Code Pro', 'Nunito', sans-serif;
    text-align: center;
    font-size: 6rem;
    font-weight: 200;
    margin: 0 0 2rem;
    color: $light;
  }

  .header-subtitle {
    font-family: 'Source Code Pro', 'Nunito', sans-serif;
    text-align: center;
    font-size: 2rem;
    font-weight: 100;
    margin: 0;
    color: $light;
  }
}
