@use 'colors';

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: calc(100vh - 55%) auto 0;
  max-width: 50%;

  .error {
    text-align: center;

    .err-msg {
      font-family: 'Nunito Sans', sans-serif;
      font-size: 48px;
      font-weight: 100;
      color: colors.$text-title;
      margin-bottom: 10px;

      span {
        color: colors.$blue;
      }
    }

    .err-msg-try-later {
      font-family: 'Roboto', sans-serif;
      font-size: 28px;
      font-weight: 300;
      color: colors.$text-subtitle;
      margin-top: 0;
    }
  }

  img {
    max-width: 150px;
  }
}
