@use 'sass:math';
@import 'colors', 'mixins', 'page', 'navigation';

.project-page {
  background-color: $content-page-background;
}

.page-header-wave {
  @include wave-border(math.div(1920, 400), 'svg/curves/layered-waves/midnightblue-richblack.svg');
}

.page-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 20rem;
  background-color: $wave-curve-brandeisblue;

  .header-title {
    font-family: 'Source Code Pro', 'Nunito', sans-serif;
    text-align: center;
    font-size: 6rem;
    font-weight: 200;
    margin: 0 0 2rem;
    color: $light;
  }

  .header-subtitle {
    font-family: 'Source Code Pro', 'Nunito', sans-serif;
    text-align: center;
    font-size: 2rem;
    font-weight: 100;
    margin: 0;
    color: $light;
  }
}

.project-load-error {
  position: absolute;
  z-index: 2;
  left: 50%;
  transform: translateX(-50%) translateY(100%);
}

.project-load-error-overlay {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(9px);
  filter: brightness(55%);
  width: calc(100vw - $nav-width);
  height: 100vh;
}
