@import 'colors';

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;

  .error {
    text-align: center;
    font-family: 'Roboto', sans-serif;

    .err-msg {
      font-size: 48px;
      color: $dark-grey;
    }

    .err-msg-try-later {
      font-size: 32px;
      margin-top: 20px;
      color: $grey;
    }
  }

  img {
    max-width: 300px;
  }
}
