@use "sass:math";
@import "colors", "mixins", "components";

.project-page {
  &:has(.project-load-error-overlay) {
    max-width: 100vw;
    max-height: 100vh;
  }
}

.page-header-wave-top {
  @include wave-border(math.div(1920, 200), "svg/border-waves/orange-white.svg");
}

.page-header-wave-bottom {
  @include wave-border(math.div(1920, 300), "svg/border-waves/white-navy.svg");
}

.page-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $light;
  width: 100%;
  height: 20rem;

  .header-title {
    font-family: "Source Code Pro", "Nunito", sans-serif;
    text-align: center;
    font-size: 6rem;
    font-weight: 300;
    letter-spacing: 0.625rem;
    color: $dark-grey;
    margin: 0 0 2rem;
    max-width: 50rem;
  }

  .header-subtitle {
    font-family: "Source Code Pro", "Nunito", sans-serif;
    text-align: center;
    font-size: 2rem;
    font-weight: 300;
    margin: 0;
    color: $dark-grey;

    .github-profile {
      color: $dark-orange;
      font-weight: 400;
      text-decoration: none;
    }
  }
}

@keyframes project-load-error-overlay-fade {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

$error-animation-duration: 300ms;

.project-load-error {
  opacity: 0;
  position: absolute;
  z-index: 2;
  left: 50%;
  transform: translateX(-50%) translateY(80%);
  animation: project-load-error-overlay-fade $error-animation-duration ease-out;
  animation-fill-mode: forwards;
}

.project-load-error-overlay {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(0.5625rem);
  filter: brightness(55%);
  width: 100%;
  height: 100vh;
  animation: project-load-error-overlay-fade $error-animation-duration ease-out;
}
