@import 'shared';

.shell {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}

nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: white;
  box-shadow: #00000029 0px 3px 6px, #0000003b 0px 3px 6px;
  z-index: 1;
  height: 50px;
}

.nav-left {
  display: flex;
  align-items: center;
  height: 100%;

  .nav-link {
    display: flex;
    align-items: center;
    font-family: 'Roboto';
    font-size: 24px;
    font-weight: 200;
    height: 100%;
    margin-left: 20px;
    padding: 0 15px 0 15px;
    color: black;
    transition: background-color 0.1s;
    position: relative;
    border-radius: 5px;

    &:hover {
      background-color: transparent;
      cursor: pointer;
      color: white;
    }

    &:hover::after {
      position: absolute;
      z-index: -1;
      content: '';
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background: linear-gradient(white 50%, orange 50%);
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      background-size: 200% 200%;
      background-position: 0% 100%;
      -webkit-animation-name: nav-link-hover;
      animation-name: nav-link-hover;
      -webkit-animation-duration: 100ms;
      animation-duration: 100ms;
      -webkit-animation-direction: forward;
      animation-direction: forward;
      -webkit-animation-timing-function: linear;
      animation-timing-function: linear;
    }
  }
}

.nav-social-icons {
  float: right;
  display: flex;
  align-items: center;
  justify-content: flex-end;

  .nav-link-social {
    display: flex;
    align-items: center;
    margin: 0 3px;

    .icon-github {
      color: black !important;

      &:hover {
        color: lighten($color: black, $amount: 30%) !important;
      }
    }

    .icon-linkedin {
      color: #0669bf !important;

      &:hover {
        color: lighten($color: #0669bf, $amount: 30%) !important;
      }
    }

    .icon-cv-download {
      color: #7300b6 !important;

      &:hover {
        color: lighten($color: #7300b6, $amount: 30%) !important;
      }
    }
  }
}

.content-outlet {
  position: relative;
}

@-webkit-keyframes nav-link-hover {
  from {
    background-position: 100% 0%;
  }
  to {
    background-position: 0% 100%;
  }
}

@keyframes nav-link-hover {
  from {
    background-position: 100% 0%;
  }
  to {
    background-position: 0% 100%;
  }
}
