@import 'shared';

.projects-intro {
  align-items: center;
  display: flex;
  flex-direction: column;

  .project-info {
    margin-top: 100px;

    .title-intro {
      font-family: Roboto;
      font-size: 24px;
      font-weight: 100;
      margin-top: 100px;
      max-width: 800px;
      text-align: center;
    }
  }
}

.project-list-wrapper {
  width: 100%;
  margin: 0;
  min-height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: auto;
}

.pinned-projects-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.title-pinned-projects {
  font-family: Comfortaa, sans-serif;
  font-size: 54px;
  text-align: center;
  margin-bottom: 0;
  color: #0b549f;
}

.title-unpinned-projects {
  text-align: center;
  font-family: 'Nunito Sans';
  font-weight: 100;
  font-size: 42px;
  margin: 10px 0 10px 0;
}

.unpinned-projects-divider {
  width: 100%;
}

.project-list {
  display: flex;

  > * {
    margin: 10px;
  }
}

.unpinned-projects {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.pinned {
  opacity: 1 !important;
}

.list-divider {
  width: 100%;
}

.project-load-error {
  text-align: center;
  font-family: Comfortaa, sans-serif;
  width: 80%;
  margin: auto;
  margin-top: 50px;

  .err-msg {
    font-size: 48px;
  }

  .err-try-again {
    font-size: 24px;
    margin-top: 30px;
  }
}
