@import 'shared';

.project-card {
  box-shadow: #00000029 0px 3px 6px, #0000003b 0px 3px 6px;
  height: 100%;
  max-width: 500px;
  flex-grow: 1;
  flex-shrink: 1;
}

.project-card-title {
  .project-name {
    font-family: 'Nunito Sans';
    line-height: 1.5;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    padding: 10px 15px;
  }

  .project-actions {
    display: flex;
    justify-content: center;
    padding: 0 5px;
  }
}

.title-divider {
  margin: 0 !important;
}

.project-view-github {
  display: flex;
  padding: 6px 8px;
  margin-left: 0px !important;

  &:hover {
    background-color: rgba(25, 118, 210, 0.04);
  }

  > span {
    font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.75;
    text-transform: uppercase;
    color: #1976d2;
    margin-left: 10px;
  }

  &:hover {
    cursor: pointer;
  }
}

.icon-view-github {
  color: black;
}

.btn-view-details {
  color: #0b549f;
}

.description-wrapper {
  padding: 15px;
}

.title-description {
  font-size: 24px;
  font-weight: 300;
  color: black;
  margin-top: 0;
}

.description {
  color: black;
  font-size: 16px;
  font-weight: 300;
}

.project-repo {
  color: #ff9800;
  font-weight: bold;
}

.card-header-icon {
  width: 15px !important;
  height: 15px !important;
}

.title-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title-icon-buttons {
  display: flex;
  align-items: center;
}

.title-icon-button {
  background-color: white !important;
}

.view-readme {
  width: 26px;
  height: 26px;
}
