@import '../../../../../public/assets/styles/Typography.scss';
@import '../../../../../public/assets/styles/Theme.scss';

.no-readme {
  text-align: center;
  font-family: 'Roboto';
  margin-top: 20px;
  color: $grey-3;
}
