@import "colors", "mixins";

$border-radius: 0.625rem;

@mixin title($divider-color) {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3.125rem;
  padding: 1.25rem;

  @include underline(0.0625rem, darken($divider-color, 40%), 100%, 0);
}

@mixin project-name {
  font-family: "Nunito";
  font-size: 1.125rem;
  letter-spacing: 0.05rem;
  text-decoration: none;
  line-height: 1.2;
  text-align: center;
  font-weight: 400;
  color: $light;

  &:hover {
    color: $orange;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 1.875rem;
  border-radius: $border-radius;
  border: 0.125rem solid;

  .title {
    @include title($light);

    .project-name {
      @include project-name();
    }
  }

  &:not(.pinned) {
    border-color: $light;
  }

  &.pinned {
    border-color: $yellow;

    .title {
      @include title($yellow);

      .project-name {
        @include project-name();
      }
    }
  }

  .description {
    font-family: "Nunito";
    margin: 0.9375rem;
    color: $light;
    font-size: 0.875rem;
    font-weight: 100;
    letter-spacing: 0.125rem;
  }

  .btn-action {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.8125rem;
    font-size: 2.25rem;
    background: transparent;
    border: none;
    border-radius: 0 0 $border-radius $border-radius;

    &:hover {
      cursor: pointer;
      background-color: lighten($navy, 2%);
    }

    .btn-action-view-details {
      font-family: "Roboto";
      font-size: 0.875rem;
      font-weight: 400;
      text-transform: uppercase;
      text-decoration: none;
      letter-spacing: 0.0625rem;
      color: $orange;
    }
  }
}
