@import "colors", "mixins";

$border-radius: 10px;

@mixin title($divider-color) {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  padding: 20px;

  @include underline(1px, darken($divider-color, 40%), 100%, 0);
}

@mixin project-name {
  font-family: "Nunito";
  font-size: 1.125rem;
  letter-spacing: 1px;
  text-decoration: none;
  line-height: 1.2;
  text-align: center;
  font-weight: 400;
  color: $light;

  &:hover {
    color: $orange;
  }
}

.card {
  box-shadow: rgba(50, 50, 93, 0.5) 0px 2px 5px 0px, rgba(0, 0, 0, 0.5) 0px 1px 3px 0px;
  max-width: 12.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 33%;
  margin: 30px;
  border-radius: $border-radius;
  border: 3px solid $light;

  .title {
    @include title($light);

    .project-name {
      @include project-name();
    }
  }

  &.pinned {
    border: 2px solid $yellow;

    .title {
      @include title($yellow);

      .project-name {
        @include project-name();
      }
    }
  }

  .description {
    font-family: "Nunito";
    margin: 15px;
    color: $light;
    font-size: 0.875rem;
    font-weight: 100;
    letter-spacing: 0.125rem;
  }
}

.btn-action {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 13px;
  font-size: 2.25rem;
  background: transparent;
  border: none;
  border-bottom-left-radius: $border-radius;
  border-bottom-right-radius: $border-radius;

  &:hover {
    cursor: pointer;
    background-color: lighten($navy, 2%);
  }

  .btn-action-view-details {
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1px;
    color: $orange;
  }
}
