@import "colors", "mixins";

.project-list-title {
  font-family: Source Code Pro;
  font-size: clamp(0.75rem, 1.5rem + 1vw, 6rem);
  font-weight: 300;
  color: $light;
  text-align: center;
}

.pinned-project-list-title {
  color: $yellow;
}

.pinned-project-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1.25rem auto 0;
  width: 80%;
}

.unpinned-project-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 3.125rem auto 25rem;
  width: 80%;
}

.project-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
