@import 'colors';
@import 'shared';

.wrapper {
  background-color: $page-background;

  .page-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 70%;
    margin: auto;
    background-color: white;

    .intro {
      margin-top: 50px;

      .intro-title {
        font-family: 'Roboto Serif', sans-serif;
        font-size: 42px;
        font-weight: 100;
        text-align: center;
        margin: auto;
        max-width: 80%;
      }

      .intro-subtitle {
        font-family: 'Roboto', sans-serif;
        font-size: 22px;
        font-weight: 300;
        color: $grey;
        text-align: center;
        margin: 20px 0 0;
        text-decoration: underline;
        text-underline-offset: 5px;
        text-decoration-thickness: 1px;
      }
    }

    .pinned-project-list {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 0 auto;
      width: 80%;

      .title-pinned {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;

        > div,
        div:last-child {
          @include divider(2px, $blue, 10px);
        }

        .pinned-icon {
          transform: rotate(90deg);
          color: $orange;
        }

        h1 {
          letter-spacing: 2px;
          font-size: 36px;
          font-weight: 300;
          color: $dark-grey;
        }
      }
    }

    .unpinned-project-list {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 50px auto;
      width: 80%;

      .title-unpinned {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;

        > div,
        div:last-child {
          @include divider(2px, $light, 10px);
        }

        .unpinned-icon {
          transform: rotate(90deg);
          color: $dark-grey;
        }

        h1 {
          letter-spacing: 2px;
          font-size: 36px;
          font-weight: 300;
          margin: 25px 0;
          color: $dark-grey;
        }
      }
    }

    .project-list {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }

    .loader {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
}
