@import 'shared';

.project-list {
  margin: 100px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 80%;

  .project-list-intro {
    max-width: 900px;

    .project-list-intro-title {
      font-family: 'Roboto Serif', sans-serif;
      font-size: 42px;
      font-weight: 100;
      text-align: center;
      margin: 0;
    }

    .project-list-intro-subtitle {
      font-family: 'Roboto Serif', sans-serif;
      font-size: 24px;
      font-weight: 100;
      text-align: center;
      margin: 20px 0 0;
    }
  }
}
