@import 'colors';
@import 'shared';

.wrapper {
  margin: 100px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 80%;

  .intro {
    position: relative;
    max-width: 900px;
    margin-bottom: 100px;

    &:after {
      border-bottom: 1px solid $light;
      content: '';
      position: absolute;
      width: 100%;
      bottom: -40px;
    }

    .name {
      font-family: 'Roboto Serif' sans-serif;
      font-size: 42px;
      font-weight: 100;
      text-align: center;
      margin: 0;
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    max-width: 700px;

    .info {
      display: flex;
      margin-bottom: 10px;

      .content-section {
        flex: 1 1 100%;
        padding: 30px;
        background-color: $blue;
        color: white;

        &:first-child {
          margin-right: 5px;
        }

        &:nth-child(2) {
          margin-left: 5px;
        }
      }
    }

    .readme {
      padding: 50px;
      box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    }

    .readme-unavailable {
      text-align: center;
      font-family: 'Roboto';
      margin-top: 20px;
      color: #1f1f1f;
    }
  }
}
