@import 'colors';
@import 'shared';

.project-view-page {
  margin: 100px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 80%;

  .project-intro {
    position: relative;
    max-width: 900px;
    margin-bottom: 100px;

    &:after {
      border-bottom: 1px solid #d9d9d9;
      content: '';
      position: absolute;
      width: 100%;
      bottom: -40px;
    }

    .project-name {
      font-family: 'Roboto Serif' sans-serif;
      font-size: 42px;
      font-weight: 100;
      text-align: center;
      margin: 0;
    }
  }

  .project-content {
    display: flex;
    flex-direction: column;

    .project-view-readme {
      max-width: 700px;
      padding: 50px;
      box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    }
  }
}
