.project-card {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px !important;
}

.avatar {
  color: black;
}

.description-wrapper {
  vertical-align: middle;
}

.title-description {
  font-size: 24px;
  color: black;
  margin-top: 0;
}

.description {
  color: black;
  font-size: 14px;
  font-weight: 900;
}

.expand-more-label {
  font-size: 16px;
  color: black;
  font-weight: 900;
  margin: 15px;
  vertical-align: middle;
}

.divider {
  border-bottom: 1px solid white;
  margin-top: 15px;
  margin-bottom: 15px;
}

.summary-repo {
  display: flex;
  flex-direction: column;
  color: black;

  span {
    font-size: 14px;
    font-weight: 900;
    margin-bottom: 8px;
  }
}

.summary-language-chart-wrapper {
  display: flex;
  flex-direction: column;
}

.summary-language-chart-title {
  color: black;
  font-size: 16px;
  font-weight: 900;
}

.summary-language-chart {
  display: flex;
  margin: 5px;
}

.summary-language-none-found {
  color: black;
  font-size: 14px;
  margin-top: 10px;
}

.summary-legend {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-self: center;
  height: 200px;
  margin: 10px;
}

.summary-legend-lang {
  font-size: 14px;
  font-family: 'Roboto';
}

.card-header-icon {
  width: 15px !important;
  height: 15px !important;
}
