@import 'shared';

.project-card {
  box-shadow: #00000029 0px 3px 6px, #0000003b 0px 3px 6px !important;
  height: 100% !important;
}

.project-header {
  height: 60px !important;
}

.subheader {
  vertical-align: middle;
}

.avatar-github-icon {
  color: white;
  -webkit-transform: scale(1.3);
  transform: scale(1.3);

  &:hover {
    cursor: pointer;
  }
}

.description-wrapper {
  vertical-align: middle;
}

.description-wrapper,
.summary-repo {
  font-family: Roboto;
  font-weight: 100;
}

.title-name-wrapper {
  display: flex;
  justify-content: center;
}

.title-name {
  color: white;
  line-height: 1.5;
  font-size: 20px;
  font-weight: 100;
  text-align: center;
  padding: 10px;
}

.title-open-readme-icon {
  float: right;
  margin-right: 5px;
}

.title-description {
  font-size: 24px;
  font-weight: 300;
  color: black;
  margin-top: 0;
}

.description {
  color: black;
  font-size: 16px;
  font-weight: 300;
}

.project-repo {
  color: #ff9800;
  font-weight: bold;
}

.card-header-icon {
  width: 15px !important;
  height: 15px !important;
}

.title-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title-icon-buttons {
  display: flex;
  align-items: center;
}

.title-icon-button {
  background-color: white !important;
}

.view-readme {
  width: 26px;
  height: 26px;
}
