.card {
  margin: 5px;
}

.home-wrapper {
  margin-top: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.welcome-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  box-shadow: -1px 18px 18px -15px rgba(0, 0, 0, 0.29);
  border-radius: 10px;
}

.welcome {
  font-family: 'Open Sans';
  text-align: center;
  font-size: 96px;
  font-weight: 100;
  margin: 20px 20px 0 20px;

  span {
    font-weight: 900;
  }
}

.welcome-intro {
  font-family: 'Roboto';
  font-size: 24px;
  font-weight: 100;
  text-align: center;
  margin: 15px 0px;
}

.header-divider {
  border-top: 1px solid rgb(219, 219, 219);
  height: 1px;
  margin: 0px 5px;
  width: 70%;
}

.welcome-info-actions {
  width: 600px;
  margin-top: 40px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 40px;
}

.welcome-info {
  font-family: 'Roboto';
  color: #3d3d3d;
  text-align: center;
  font-size: 20px;
  margin: auto;
  font-weight: 100;
}

.welcome-divider {
  height: 2px;
  border-bottom: 1px solid rgb(211, 211, 211);
  margin: 20px;
}

.welcome-actions {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.welcome-action-buttons {
  margin-top: 10px;
}

.btn-action {
  width: 100px !important;
}

.btn-learn-more {
  background-color: #b71c1c !important;
  color: white !important;
  margin: 5px !important;
}

.btn-technical-experience {
  background-color: #ff9800 !important;
  color: black !important;
  margin: 5px !important;
}

.headers {
  display: flex;
  flex-direction: column;
  align-items: center;
}
