@import 'shared';

.card {
  margin: 5px;
}

.home-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #141414;
}

.welcome-info-actions {
  width: 100%;
  border-radius: 10px;
  margin: 80px;
}

.welcome-info {
  font-family: 'Roboto';
  text-align: center;
  font-size: 24px;
  font-weight: 100;
  width: 800px;
  color: white;
}

.welcome-actions {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.welcome-action-buttons {
  margin-top: 10px;
}

.btn-action {
  width: 100px !important;
}

.btn-learn-more {
  background-color: #b71c1c !important;
  color: white !important;
  margin: 5px !important;
}

.btn-technical-experience {
  background-color: #ff9800 !important;
  color: black !important;
  margin: 5px !important;
}

.headers {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
