@import "colors";

.wrapper:hover::before {
  content: attr(experience);
  position: absolute;
  background-color: $blue;
  min-width: 20px;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: 400;
  color: $light;
  text-align: center;
  white-space: nowrap;
  margin-bottom: 110px;
  border-radius: 12px;
  padding: 7px;
}
