@import "colors";

$nav-height: 4.375rem;

.navbar {
  position: fixed;
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 100vw;
  height: $nav-height;
  z-index: 1;
  background-color: $light-navy;

  .header-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6.25rem;
    margin-left: 0.625rem;
  }

  .page-links {
    display: flex;
    align-items: center;
    gap: 2rem;
  }

  .page-link-overflow-menu {
    width: 6.25rem;
    display: none;

    .page-link-menu-button {
      width: 100%;
      background-color: transparent;
      border: none;
      cursor: pointer;
      display: flex;

      .page-link-menu-icon {
        color: $light;
        width: 100%;
        font-size: 2rem !important;
      }
    }
  }

  .divider {
    border-bottom: 0.0625rem solid #505050;
    height: 0.0625rem;
    width: 100%;
    margin: 0 0.625rem;
  }

  .socials {
    display: flex;
    align-items: center;
    gap: 2rem;
    float: right;
    margin-right: 1.5rem;

    a {
      display: flex;

      [social-icon] {
        width: 2rem;
        height: 100%;
        fill: $light;

        &:hover {
          transition: fill 180ms ease-in-out;
          fill: $orange;
        }
      }

      &:last-child {
        margin-right: 0.9375rem;
      }
    }
  }

  @media screen and (max-width: 36.625rem) {
    .divider:nth-child(2) {
      display: none;
    }

    .page-links {
      display: none;
    }
    .page-link-overflow-menu {
      display: flex;
    }

    .page-links {
      margin-left: 0.9375rem;
    }

    .page-link-menu-icon {
      font-size: 1.5rem !important;
    }
  }
}

.page-link {
  position: relative;
  display: block;
  font-family: "Roboto", sans-serif;
  font-size: 1.125rem;
  font-weight: 300;
  color: $light;
  letter-spacing: 0.0625rem;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.2s;

  &::before,
  &::after {
    transition: all 0.2s;
  }

  &:hover {
    color: $orange;
  }

  &::after {
    position: absolute;
    bottom: -0.3125rem;
    left: 50%;
    transform: translateX(-50%);
    margin: auto;
    width: 0%;
    content: ".";
    color: transparent;
    background-color: $light;
    height: 0.125rem;
  }

  &:hover::after {
    width: 100%;
  }

  &.overflow-menu-item {
    font-size: 0.875rem;
  }
}

.padder {
  height: $nav-height;
}
