@use 'colors';
@use 'navigation';

.side-nav {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
  top: 0;
  left: 0;
  width: navigation.$nav-width;
  height: 100%;
  background-color: #151d2b;
}

.side-nav-logo {
  margin-top: 10px;
}

ul.side-nav-page-links {
  list-style: none;
  text-align: center;
  padding-left: 0;
  height: 100vh;

  li.page-link-item {
    display: inline-block;

    .page-link {
      position: relative;
      display: block;
      margin: auto;
      padding-bottom: 5px;
      margin-bottom: 20px;
      color: colors.$light;
      font-family: 'Roboto', sans-serif;
      font-size: 14px;
      font-weight: 300;
      letter-spacing: 1px;
      text-decoration: none;
      text-transform: uppercase;
      transition: all 0.2s;

      &::before,
      &::after {
        transition: all 0.2s;
      }

      &:hover {
        color: colors.$orange;
      }

      &::after {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        width: 0%;
        content: '.';
        color: transparent;
        background: colors.$light;
        height: 1px;
      }

      &:hover::after {
        width: 90%;
      }
    }
  }
}

.social-icons {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;

  .social-icon-link {
    display: flex;
    align-items: center;
    border-radius: 5px;
    padding-bottom: 20px;

    .social-icon {
      color: colors.$dark-orange !important;
      font-size: 30px !important;

      &:hover {
        color: colors.$light !important;
      }
    }
  }
}

.side-nav-section-divider {
  border-bottom: 1px solid #505050;
  height: 1px;
  width: 100%;
  margin-bottom: 20px;
}
