:root {
  --animation-duration: 500ms;
}

@keyframes animate-title {
  from {
    display: none;
    opacity: 0;
    margin-right: 100px;
  }

  to {
    display: block;
    opacity: 1;
    margin-right: 20px;
  }
}

.content-title {
  text-align: center;
  margin: 20px;
  color: #1f1f1f;
  animation: animate-title;
  animation-fill-mode: forwards;
  animation-duration: var(--animation-duration);
}

.content-subtitle {
  opacity: 0;
  text-align: center;
  margin: 20px;
  color: #1f1f1f;
  animation: animate-title;
  animation-fill-mode: forwards;
  animation-delay: var(--animation-duration);
  animation-duration: var(--animation-duration);
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.page-content {
  opacity: 0;
  animation: fadein;
  animation-duration: 300ms;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}
