@import 'shared';

:root {
  --pinnedProjectIndex: 0;
  --unpinnedProjectIndex: 0;
}

.projects-wrapper {
  height: 100vh;
}

.project-list-wrapper {
  width: 100%;
  margin: 0;
  min-height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: auto;
}

.pinned-projects-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.title-pinned-projects {
  text-align: center;
  font-family: 'Nunito Sans';
  font-weight: 100;
  font-size: 54px;
  color: #5e5e5e;
  margin-bottom: 0;
}

.title-unpinned-projects {
  text-align: center;
  font-family: 'Nunito Sans';
  font-weight: 100;
  font-size: 42px;
  margin: 10px 0 10px 0;
}

.unpinned-projects-divider {
  width: 100%;
}

.project-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.unpinned-projects {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.project {
  margin: 20px;
  width: 30%;
}

.pinned {
  opacity: 1 !important;
}

.raised {
  z-index: 10;
}

.list-divider {
  width: 100%;
}

.no-projects-to-show {
  font-size: 24px;
  text-align: center;
}

@-webkit-keyframes fadeAndSlide {
  from {
    opacity: 0;
    margin-left: 300px;
  }

  to {
    opacity: 1;
    margin-left: 0px;
  }
}

@keyframes fadeAndSlide {
  from {
    opacity: 0;
    margin-left: 300px;
  }

  to {
    opacity: 1;
    margin-left: 0px;
  }
}
