.dialog-title {
  color: white;
  font-size: 32px !important;
  font-weight: 300 !important;
  background-color: #243890;
  height: 50px;
}

.dialog-title-pinned {
  background-color: #ec407a;
}

.scroll-menu-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #f3f3f3;
  color: #0b549f !important;
  height: 30px;
}

.scroll-header-title {
  font-size: 20px;
  font-family: 'Roboto';
  font-weight: 100;
}

.content {
  padding: 20px;
}

.summary-wrapper {
  width: 100%;
}

.summary-repo {
  display: flex;
  flex-direction: column;
  color: black;

  span {
    font-size: 14px;
    font-weight: 100;
    margin-bottom: 8px;
  }
}

.summary-repo-activity {
  color: black;
  font-size: 16px;
  font-weight: 900;
  margin-bottom: 20px;
}

.project-collapse-divider {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.react-horizontal-scrolling-menu--scroll-container {
  display: block !important;
}
