.banner {
  position: relative;
  width: 100%;
  height: 300px;
  overflow: hidden;

  .banner-title-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: white;

    .banner-title {
      font-family: 'Open Sans';
      text-align: center;
      font-size: 54px;
      font-weight: 100;
      margin: 20px 20px 0 20px;
      max-width: 800px;

      span {
        font-weight: 900;
      }
    }

    .banner-subtitle {
      font-family: 'Roboto';
      font-size: 24px;
      font-weight: 100;
      text-align: center;
      margin: 15px 0px;
    }
  }
}
