@import '../../assets/styles/Theme.scss';

.img-profile {
  border-radius: 40px;
  float: right;
  padding: 20px;
  width: 200px !important;
}

.about-wrapper {
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center;
}

.about-info-wrapper {
  margin-bottom: 50px;
}

.about-info {
  font-family: 'Roboto';
  font-weight: 100;
  width: 500px;
  color: $grey-600;
  margin: 10px;
  text-align: justify;
  word-wrap: break-word;
  background-color: $grey-dark;
  padding: 20px;
}

p {
  font-size: 16px !important;
}

.download-cv {
  display: flex;
  align-items: center;
  color: $light;
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 100;
  background-color: $primary-main;
  padding: 10px;
}

.list-text {
  color: $secondary-200;
}
