@import '../../../public/assets/styles/Theme.scss';

.img-profile {
  border-radius: 40px;
}

.about-wrapper {
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center;
}

.about-info-wrapper {
  display: flex;
  margin-bottom: 50px;
}

.about-info {
  width: 300px;
  color: $grey-800;
  font-family: 'Roboto';
  margin: 10px;
  font-size: 16px;
}

.download-cv {
  color: $grey-800;
  font-family: 'Roboto';
  font-size: 36px;
  font-weight: 100;
}

// .cv-icon-link {
//   display: flex;
//   flex-direction: column;
// }

.cv-icon {
  width: 60px !important;
  height: 60px !important;
}

.download-icon {
  width: 30px !important;
  height: 30px !important;
  transform: translate(45px, -40px);
  color: white;
}
