@import "colors", "mixins";

.project-details-page {
  .project-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5rem auto 12.5rem auto;
    max-width: 60%;
  }

  .project-name {
    font-family: "Roboto", sans-serif;
    font-size: 4.5rem;
    font-weight: 100;
    text-align: center;
    color: $light;
    margin: 3.125rem;
  }

  .divider {
    @include divider(0.0625rem, $orange, 3.125rem);
  }

  .stats {
    display: flex;
    margin-bottom: 3.125rem;
    color: $light;
    position: relative;

    .stats-card,
    .language-card {
      flex: 1 1 100%;
      padding: 1.25rem;
      border: 0.0625rem solid $light;
      border-radius: 0.625rem;
    }

    .stats-card {
      margin: 0.625rem 0.625rem 0.625rem 0;
    }

    .language-card {
      margin: 0.625rem 0.625rem 0.625rem 0;
    }
  }

  .readme-unavailable {
    text-align: center;
    font-family: "Roboto";
    margin-top: 1.25rem;
    color: $dark-grey;
  }
}
