@import "colors", "mixins";

.project-details-page {
  .page-header {
    @include page-header-base;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5rem auto 12.5rem auto;
    max-width: 60%;
  }

  .header-title {
    @include page-title;
    font-weight: 100;
    color: $light;
    margin: 3.125rem;
  }

  .project-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1.875rem;

    .project-readme {
      flex-basis: 50%;
      max-width: 45rem;
    }

    .readme-unavailable {
      text-align: center;
      font-family: "Roboto";
      margin-top: 1.25rem;
      color: $dark-grey;
    }

    .repository {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      gap: 1rem;

      .stats,
      .languages {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }

  .divider {
    @include divider(0.0625rem, $orange, 3.125rem);
    max-width: 60%;
  }
}
