.no-readme {
  text-align: center;
  font-family: 'Roboto';
  margin-top: 20px;
  color: #1f1f1f;
}

.roboto {
  font-family: 'Roboto';
}

.markdown-title {
  text-align: center;
  font-size: 32px;
  font-weight: 400;
  margin-top: 0;
}

.markdown-section-title {
  font-size: 28px;
  font-weight: 300;
  margin: 15px 0 15px 0;
}

.markdown-section-subtitle {
  font-size: 22px;
  font-weight: 500;
  font-family: 'Nunito Sans';
  margin: 15px 0 15px 0;
}

.markdown-section-content {
  font-size: 16px;
  font-weight: 300;
  font-family: 'Nunito Sans';
  margin: 8px 0 8px 0;
}
