@use "sass:math";
@import "colors", "mixins", "navigation", "animations", "components",
  "./SkillSection/SkillSection.module";

:export {
  // Languages
  color-javascript: darken(#dab73d, 10%);
  color-typescript: darken(#317ac3, 10%);
  color-sass: darken(#e98db8, 10%);
  color-java: darken($red, 10%);
  color-csharp: darken(#59308e, 10%);
  color-dart: darken(#36b9f4, 10%);

  // Frameworks
  color-angular: #ff2b2b;
  color-react: #00aedf;
  color-node: #6c9f67;
  color-spring: #73b34a;
  color-express: #b7b7b7;
  color-postgresql: #9cbad1;
  color-docker: #289aea;
  color-flutter: #5ac7f6;

  // Other
  languages-bg-color: $light;
  frameworks-header-color: $light;
  border-color-experienced: #317ac3;
}

.page-wave-top {
  @include wave-border(math.div(1920, 300), "svg/border-waves/orange-navy.svg");
}

.languages-wave-top {
  @include wave-border(math.div(1920, 300), "svg/border-waves/navy-white.svg");
}

.languages-wave-bottom {
  @include wave-border(math.div(1920, 300), "svg/border-waves/white-navy.svg");
}

.others-wave-top {
  @include wave-border(math.div(1920, 300), "svg/border-waves/navy-blue.svg");
}

.introduction {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 31.25rem;

  .logo {
    max-width: 500px;
  }

  .introduction-text {
    font-family: "Source Code Pro", "Nunito", sans-serif;
    text-align: left;
    color: $light;
    max-width: 30rem;

    h1 {
      font-size: 6rem;
      font-weight: 300;
      margin: 0 0 1.25rem;
    }

    h2,
    h3 {
      font-size: 1.5rem;
      font-weight: 100;
      margin: 0 0 1.25rem;
    }

    span.alias {
      font-weight: 400;
      color: $orange;
    }
  }
}

.others-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 200px;
  background-color: $blue;

  .others-header {
    margin-top: 100px;

    h3 {
      @include header;
      max-width: 400px;
      line-height: 1.5;
      color: $light;
    }
  }

  .list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 400px;

    img {
      width: 40px;
      margin: 20px;
    }
  }
}
