@use "sass:math";
@import "colors", "mixins", "animations", "components", "./SkillSection/SkillSection.module";

:export {
  // Languages
  color-javascript: darken(#dab73d, 10%);
  color-typescript: darken(#317ac3, 10%);
  color-sass: darken(#e98db8, 10%);
  color-java: darken($red, 10%);
  color-csharp: darken(#59308e, 10%);
  color-dart: darken(#36b9f4, 10%);

  // Frameworks
  color-angular: #ff2b2b;
  color-react: #00aedf;
  color-node: #6c9f67;
  color-spring: #73b34a;
  color-express: #b7b7b7;
  color-postgresql: #9cbad1;
  color-docker: #289aea;
  color-flutter: #5ac7f6;

  // Other
  languages-bg-color: $light;
  frameworks-header-color: $light;
  others-header-color: $light;
  others-bg-color: $blue;
  border-color-experienced: #317ac3;
}

.page-wave-top {
  @include wave-border(math.div(1920, 200), "svg/border-waves/orange-navy.svg");
}

.languages-wave-top {
  @include wave-border(math.div(1920, 300), "svg/border-waves/navy-white.svg");
}

.languages-wave-bottom {
  @include wave-border(math.div(1920, 300), "svg/border-waves/white-navy.svg");
}

.others-wave-top {
  @include wave-border(math.div(1920, 300), "svg/border-waves/navy-blue.svg");
}

.introduction {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 31.25rem;
  width: clamp(20rem, 70vw + 3rem, 100vw);

  .introduction-text {
    font-family: "Source Code Pro", "Nunito", sans-serif;
    text-align: left;
    color: $light;

    h1 {
      font-size: clamp(3rem, 2rem + 4vw, 6rem);
      font-weight: 300;
      margin: 0 0 1.25rem;
    }

    h2 {
      font-size: clamp(1.2rem, 0.875rem + 4vw, 0.5vw);
      font-weight: 100;
      margin: 0 0 1.25rem;
    }

    span.alias {
      font-weight: 400;
      color: $orange;
    }
  }

  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 50%;
    height: 100%;

    img {
      width: clamp(5rem, 10vw + 2rem, 35rem);
      height: auto;
      flex: 1;
    }
  }
}

.others-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-bottom: 12.5rem;
  background-color: $blue;

  .others-header {
    margin-top: 6.25rem;

    h3 {
      @include header;
      max-width: 25rem;
      line-height: 1.5;
      color: $light;
    }
  }

  .list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 25rem;

    img {
      width: 2.5rem;
      margin: 1.25rem;
    }
  }
}
