@use 'sass:math';
@import 'colors', 'mixins', 'navigation', 'animations';

:root {
  --skill-name-underline-color: transparent;
  --skill-box-border-color: #ffffff;
}

:export {
  // Languages
  color-javascript: darken(#dab73d, 10%);
  color-typescript: darken(#317ac3, 10%);
  color-sass: darken(#e98db8, 10%);
  color-java: darken($red, 10%);
  color-c-sharp: darken(#59308e, 10%);
  color-dart: darken(#36b9f4, 10%);

  // Frameworks
  color-angular: #ff2b2b;
  color-react: #00aedf;
  color-node: #6c9f67;
  color-spring: #73b34a;
  color-express: #b7b7b7;
  color-postgresql: #9cbad1;
  color-docker: #289aea;
  color-flutter: #5ac7f6;

  // Other
  border-color-experienced: #317ac3;
}

.page-wave-top {
  @include wave-border(math.div(1920, 300), 'svg/border-waves/orange-navy.svg');
}

.languages-wave-top {
  @include wave-border(math.div(1920, 300), 'svg/border-waves/navy-white.svg');
}

.languages-wave-bottom {
  @include wave-border(math.div(1920, 300), 'svg/border-waves/white-navy.svg');
}

.others-wave-top {
  @include wave-border(math.div(1920, 300), 'svg/border-waves/navy-blue.svg');
}

//1224

.introduction {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 31.25rem;

  .logo {
    max-width: 500px;

    @media screen and (max-width: 1224px) {
      max-width: 350px;
    }
  }

  .introduction-text {
    font-family: 'Source Code Pro', 'Nunito', sans-serif;
    text-align: left;
    color: $light;
    max-width: 30rem;

    h1 {
      font-size: 6rem;
      font-weight: 300;
      margin: 0 0 1.25rem;
    }

    h2,
    h3 {
      font-size: 1.5rem;
      font-weight: 100;
      margin: 0 0 1.25rem;
    }

    span.alias {
      font-weight: 400;
      color: $orange;
    }
  }
}

@mixin section-text {
  font-family: 'Quicksand', 'Nunito', sans-serif;
  font-size: 32px;
  font-weight: 300;
  max-width: 56.25rem;
  text-align: center;
  margin: 0 0 25px;
}

@mixin section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 400px;
}

.skill-section {
  @include section;

  &.languages {
    background-color: $light !important;

    .section-text {
      @include section-text;
    }
  }

  &.frameworks {
    .section-text {
      @include section-text;
    }

    color: $light;
  }

  .skill-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 800px;
  }
}

.skill-list-item {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100px;
  margin: 5px;
  padding: 15px;
  border: 3px solid #8d8d8d;
  border-radius: 20px;

  &[experienced] {
    border-color: var(--skill-box-border-color);
  }

  &[experienced]:hover::before {
    content: attr(experienced);
    position: absolute;
    background-color: $blue;
    min-width: 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: $light;
    text-align: center;
    white-space: nowrap;
    bottom: 110%;
    border-radius: 12px;
    padding: 7px;
    animation-name: fade-in-grow;
    animation-duration: 200ms;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
  }

  .skill-brand-icon img {
    max-width: 28px;
  }

  .skill {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    margin-left: 8px;

    .skill-name {
      font-family: 'Quicksand', sans-serif;
      font-size: 14px;
      font-weight: bold;
    }

    .skill-name-underline {
      @include divider(3px, var(--skill-name-underline-color), 0);
    }
  }
}

.others-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 200px;
  background-color: $blue;

  .others-text {
    margin-top: 100px;

    h3 {
      @include section-text;
      max-width: 400px;
      line-height: 1.5;
      color: $light;
    }
  }

  .others-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 400px;

    .skill-tool-img {
      width: 40px;
      margin: 20px;
    }
  }
}
