@import '../../../public/assets/styles/theme';

.intro-sub {
  color: $gray-2;
}

.intro-paragraph {
  color: $gray-3;
  font-family: 'Arial';
  font-size: 14px;
  font-weight: lighter;
}

.alias {
  color: $secondary;
}
