@import "colors", "mixins";

$regular-border-color: #8d8d8d;
$experience-border-color: #317ac3;

:root {
  --name-underline-color: transparent;
}

:export {
  regular-border-color: $regular-border-color;
  experience-border-color: $experience-border-color;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.125rem solid transparent;
  border-radius: 1.25rem;
  max-width: 7.5rem;

  &.padded {
    padding: clamp(0.0625rem, 0.21vw + 0.75rem, 3rem);
  }

  &:hover {
    filter: brightness(85%);
  }

  .brand-icon {
    display: flex;
    flex-basis: 1rem;
  }

  img.icon-large {
    max-width: 3rem;
  }

  img.icon-regular {
    max-width: 1.75rem;
  }

  .skill {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    margin-left: 0.5rem;

    .name {
      font-family: "Roboto", sans-serif;
      font-size: clamp(0.8rem, 1vw + 0.1875rem, 1rem);
      font-weight: 500;
      letter-spacing: 2px;
    }

    .name-underline {
      @include divider(0.1875rem, var(--name-underline-color), 0);
    }
  }
}
