@import "colors", "mixins";

$regular-border-color: #8d8d8d;
$experience-border-color: #317ac3;

:root {
  --name-underline-color: transparent;
}

:export {
  regular-border-color: $regular-border-color;
  experience-border-color: $experience-border-color;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.9375rem;
  border: 0.1875rem solid;
  border-radius: 1.25rem;

  &:hover {
    filter: brightness(85%);
  }

  .brand-icon {
    display: flex;

    img {
      max-width: 1.75rem;
    }
  }

  .skill {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    margin-left: 0.5rem;

    .name {
      font-family: "Quicksand", sans-serif;
      font-size: 0.875rem;
      font-weight: bold;
    }

    .name-underline {
      @include divider(0.1875rem, var(--name-underline-color), 0);
    }
  }
}
