@import '~Theme';

.page-not-found {
  display: flex;
  margin-top: 50px;
}

.msg-page-not-found {
  width: 200px;
  color: $light;
  margin-left: 20px;
  text-align: center;
}

.image {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
