@import '../styles/Theme';
@import '../styles/Typography';

$border-radius-container: 5px;

.content {
  width: 100%;
  // background-color: $grey-1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content-title {
  text-align: center;
  margin: 20px;
  color: $light;
}

.content-subtitle {
  @extend .content-title;
  color: $grey-2;
}

@mixin navigation-link($color) {
  color: $color;
}

.nav-link {
  @include navigation-link($light);
  font-size: $font-nav-link-size;
  font-weight: 700;
  line-height: 50px;
  margin: 10px;
}
