/**
* Color Palette
**/

$light: #ffffff;
$dark: #0e0e10;
$grey-dark: #1f1f1f;
$grey-2: #8f8f8f;
$grey-3: #d6d6d6;
$grey-800: #606060;
$accent: #ff570f;
$primary-main: #0c31ff;
$primary-200: #8a75ff;
$primary-900: #0018ed;
$secondary: #ffe10d;
