.view-project {
  margin: 0 auto 0 auto;
}

.view-project-header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 120px;
}

.project-content {
  margin-top: 50px;
}

.view-project-title {
  font-family: Roboto Serif;
  font-size: 42px;
  font-weight: 100;
  margin: 0;
  text-align: center;
}

.view-navigate-back {
  position: absolute;
  left: 100px;
}

.link-view-navigate-back {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon-view-navigate-back {
  width: 20px;
  vertical-align: middle;
}

.summary-wrapper {
  width: 100%;
  display: inline-flex;
  justify-content: center;
}

.summary-repo {
  display: flex;
  flex-direction: column;
  color: black;
  width: 400px;

  span {
    font-size: 14px;
    font-weight: 100;
    margin-bottom: 8px;
  }
}

.summary-repo-activity {
  color: black;
  font-size: 16px;
  font-weight: 900;
  margin-bottom: 20px;
}

.summary-language-chart-wrapper {
  font-weight: 100;
}

.summary-chart {
  display: flex;
  flex-direction: column;
}

.summary-language-chart-title {
  color: black;
  font-size: 16px;
  font-weight: 900;
}

.summary-languages-none-found {
  color: black;
  font-size: 14px;
  margin-top: 10px;
}

.readme {
  max-width: 700px;
  margin: auto;
  padding: 20px;
  border-radius: 10px;
}
