@use "sass:math";
@import "colors", "mixins";

.about-page {
  background-color: $light;
}

.page-header-wave-top {
  @include wave-border(math.div(1920, 200), "@SVG/BorderWaves/OrangeToNavy.svg");
}

.page-header-wave-bottom {
  @include wave-border(math.div(1920, 300), "@SVG/BorderWaves/NavyToWhite.svg");
}

.page-header {
  @include page-header-base;
  background-color: $navy;

  .page-header-title {
    @include page-title;
    color: $blue;
    margin: 0 0 2rem;

    span {
      font-weight: 300;
      color: $light;
    }
  }

  .character {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

    .character-traits {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      margin-bottom: 0.625rem;
      gap: clamp(0.001rem, 0.01rem + 0.5vw, 2vw);

      .character-trait {
        font-family: Roboto, sans-serif;
        letter-spacing: 0.125rem;
        font-size: clamp(0.3rem, 0.5rem + 0.5vw, 6rem);
        font-weight: 300;
        text-align: center;
        color: $light-grey;
        white-space: nowrap;
      }

      &:last-child {
        margin-bottom: 0;
      }

      .separator {
        min-width: 0.5rem;
        min-height: 0.5rem;
        border-radius: 0.5rem;
        background-color: $dark-grey;
        margin: 0 clamp(0rem, 2vw, 1rem);
      }
    }
  }
}

.about-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Nunito", sans-serif;
  padding: 1.875rem;

  .content-summary {
    @include underline(0.125rem, $light-grey, 100%, 4rem);

    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: clamp(0.5rem, 1rem + 2vw, 5rem);
    margin-top: 4rem;

    .content-summary-header {
      display: flex;
      flex-direction: column;
      justify-content: center;
      flex-basis: 50%;
      max-width: 30rem;

      .content-summary-title {
        font-size: clamp(0.2rem, 1.3rem + 1vw, 4rem);
        margin: 0;
      }

      .content-summary-description {
        @include article-text(clamp(0.2rem, 0.6rem + 0.4vw, 2rem), 400, #000);
      }
    }

    .profile-img {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-basis: 30%;
      height: 100%;

      img {
        width: clamp(10rem, 6vw + 3rem, 30rem);
        height: auto;
        flex: 1;
        border-radius: 0.5rem;
      }
    }
  }

  .detailed-info {
    margin: 8rem 0;
    max-width: 45rem;

    p {
      font-size: clamp(0.75rem, 0.7rem + 0.3vw, 3rem);
      font-weight: 400;
      line-height: 2rem;
      color: $dark-grey;
      margin-top: 0;
      text-align: justify;
    }

    .uct-caption {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      float: left;
      margin-right: 1.25rem;

      img {
        max-width: 18.75rem;
        border-radius: 0.625rem;
      }

      label {
        margin-top: 0.625rem;
        font-size: 0.75rem;
        font-weight: bold;
        color: $grey;
      }
    }

    .smellsense-link {
      text-decoration: none;
      color: $text-hyperlink;
    }
  }
}
