@import 'colors', 'mixins', 'page';

.about-page {
  background-color: $content-page-background;

  .about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Source Code Pro', 'Nunito', sans-serif;

    .head {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      border-bottom: 1px solid $dark-blue;

      .name {
        font-family: 'Source Code Pro', 'Nunito', sans-serif;
        font-size: 6rem;
        font-weight: 200;
        color: $blue;
        margin: 0 14px 0;
      }

      .character-traits {
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Nunito', sans-serif;
        font-size: 1.375rem;
        font-weight: 100;
        color: #a7a7a7;
        margin-bottom: 10px;

        &:last-child {
          margin-bottom: 0;
        }

        .separator {
          width: 8px;
          height: 8px;
          border-radius: 8px;
          background-color: #0058c1;
          margin: 0 10px;
        }
      }
    }

    .about-me {
      display: flex;
      flex-direction: column;
      margin: 3rem 10rem;
      font-family: 'Nunito', sans-serif;

      // p {
      //   color: $light;
      //   line-height: 2rem;
      //   margin-top: 0;
      // }

      .summary-header {
        display: flex;

        .summary-text {
          @include article-text(1.5rem, 200, $light);
          flex: 1 1 100%;
        }

        img {
          flex: 1 1 100%;
          border-radius: 2rem;
        }
      }

      .detailed-info {
        p {
          color: $light;
          font-size: 1rem;
          font-weight: 100;
          line-height: 2rem;
          margin-top: 0;
        }

        .smellsense-link {
          text-decoration: none;
          color: $text-hyperlink;
        }
      }
    }
  }
}
