@use 'sass:math';
@import 'colors', 'mixins', 'page';

.about-page {
  display: flex;
  flex-direction: column;
  background-color: $light;
}

.page-header-wave {
  @include wave-border(math.div(1920, 400), 'svg/BottomWaveWhite.svg');
}

.page-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: $navy-blue;
  height: 20rem;

  .name {
    text-align: center;
    font-family: 'Source Code Pro', 'Nunito', sans-serif;
    font-size: 6rem;
    font-weight: 200;
    color: $blue;
    margin: 0 14px 0;

    span {
      color: $light;
    }
  }

  .character-traits-list {
    margin-top: 10px;

    .character-traits {
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: 'Nunito', sans-serif;
      font-size: 1.125rem;
      font-weight: 100;
      color: $light;
      margin-bottom: 10px;

      &:last-child {
        margin-bottom: 0;
      }

      .separator {
        width: 8px;
        height: 8px;
        border-radius: 8px;
        background-color: $dark-orange;
        margin: 0 10px;
      }
    }
  }
}

.about-me {
  display: flex;
  flex-direction: column;
  font-family: 'Nunito', sans-serif;
  max-width: 50rem;
  margin: auto;

  .summary-header {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    @include underline(2px, $light-grey, 100%, 2.5rem);

    .summary-text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 3.125rem;
      max-width: 18.75rem;

      .summary-text-heading {
        font-size: 2.375rem;
      }

      .summary-text-info {
        @include article-text(1.125rem, 400, #000);
      }
    }

    img {
      width: 30%;
      height: 100%;
      border-radius: 10px;
    }
  }

  .detailed-info {
    margin: 6.25rem 0 6.25rem 0;

    p {
      font-size: 1rem;
      font-weight: 400;
      line-height: 2rem;
      color: $dark-grey;
      margin-top: 0;
      text-align: justify;
    }

    .uct-caption {
      float: left;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-right: 1.25rem;

      img {
        max-width: 18.75rem;
        border-radius: 10px;
      }

      label {
        margin-top: 0.625rem;
        font-size: 0.75rem;
        font-weight: bold;
        color: $grey;
      }
    }

    .smellsense-link {
      text-decoration: none;
      color: $text-hyperlink;
    }
  }
}
