.page-not-found {
  display: flex;
  margin-top: 50px;
}

.msg-page-not-found {
  width: 200px;
  color: #1f1f1f;
  margin-left: 20px;
  text-align: center;
}

.image {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
