@import 'shared';
@import 'colors';

.card {
  box-shadow: rgba(50, 50, 93, 0.5) 0px 2px 5px 0px, rgba(0, 0, 0, 0.5) 0px 1px 3px 0px;
  max-width: 400px;
  flex: 1;
  flex-basis: 33%;
  margin: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

  .title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto Flex';
    font-size: 26px;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 1.2;
    min-height: 90px;
    padding: 20px;
    text-align: center;
    color: $blue;
    border-bottom: 1px solid $light;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    .name {
      margin-bottom: 10px;
    }

    .nav-links {
      display: flex;
      justify-content: center;

      .btn-nav-link {
        color: $blue !important;
        font-size: 14px;
        font-weight: 600;
        font-family: 'Raleway';
        padding: 2px 5px;
        margin: 0 5px;
        border-bottom: 1px solid $blue;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;

        &:hover {
          background-color: rgba(74, 131, 255, 0.4);
        }
      }

      .lnk-view-details {
        text-decoration: none;
        color: $blue;
      }
    }
  }

  &.pinned {
    .title {
      color: white;
      font-weight: 300;
      background-color: $blue;

      .name {
        text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.43);
      }

      .btn-nav-link {
        color: white !important;
        font-weight: 300;
        border-bottom: 1px solid white;

        &:hover {
          background-color: rgba(0, 0, 0, 0.4);
        }
      }

      .lnk-view-details {
        color: white;
      }
    }
  }

  .description-wrapper {
    padding: 15px;

    .description {
      color: black;
      font-size: 16px;
      font-weight: 300;
    }
  }
}
