@import 'shared';
@import 'colors';

.project-card {
  box-shadow: #00000029 0px 3px 6px, #0000003b 0px 3px 6px;
  max-width: 400px;
  flex: 1;
  flex-basis: 33%;
  margin: 10px;

  .project-card-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto Flex';
    font-size: 26px;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 1.5;
    min-height: 90px;
    padding: 20px;
    text-align: center;
    color: $blue-light;
    border-bottom: 1px solid #d9d9d9;

    .project-name {
      margin-bottom: 10px;
    }

    .project-nav-links {
      display: flex;
      justify-content: center;

      .btn-project-nav-link {
        color: $blue !important;
        font-size: 14px;
        font-weight: 600;
        font-family: 'Raleway';
        padding: 2px 5px;
        margin: 0 5px;
        border-bottom: 1px solid $blue;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;

        &:hover {
          background-color: rgba(74, 131, 255, 0.4);
        }
      }

      .lnk-view-details {
        text-decoration: none;
        color: $blue;
      }
    }
  }

  .description-wrapper {
    padding: 15px;

    .title-description {
      font-family: Nunito Sans;
      font-size: 18px;
      color: black;
      margin-top: 0;
      margin-bottom: 10px;
    }

    .description {
      color: black;
      font-size: 16px;
      font-weight: 300;
    }
  }
}

.project-card.pinned {
  .project-card-title {
    color: white !important;
    font-weight: 300;
    background-color: $blue;

    .project-name {
      text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.43);
    }

    .btn-project-nav-link {
      color: white !important;
      font-weight: 300;
      border-bottom: 1px solid white;

      &:hover {
        background-color: rgba(0, 0, 0, 0.4);
      }
    }

    .lnk-view-details {
      color: white;
    }
  }
}
