@import 'shared';
@import 'colors';

.project-card {
  box-shadow: #00000029 0px 3px 6px, #0000003b 0px 3px 6px;
  min-width: 300px;
  flex: 1;
  margin: 10px;

  .project-card-title {
    font-family: Nunito Sans;
    font-size: 18px;
    font-weight: 200;
    line-height: 1.5;
    text-transform: uppercase;
    color: white;
    padding: 10px 15px;
    text-align: center;
    background-color: $blue;

    .project-nav-links {
      display: flex;
      justify-content: center;

      .btn-project-nav-link {
        color: white !important;
        font-size: 14px;
        // padding: 0 5px;

        &:hover {
          background-color: rgba(0, 0, 0, 0.4);
        }
      }

      .lnk-view-details {
        text-decoration: none;
        color: white;

        &:visited {
          color: white;
        }
      }
    }
  }

  .description-wrapper {
    padding: 15px;

    .title-description {
      font-family: Nunito Sans;
      font-size: 18px;
      color: black;
      margin-top: 0;
      margin-bottom: 10px;
    }

    .description {
      color: black;
      font-size: 16px;
      font-weight: 300;
    }
  }
}
