@import '@Theme';
@import '../public/assets/styles/Styling.scss';

.app {
  display: flex;
  flex-direction: column;
}

nav {
  background: $grey-dark;
  display: flex;
  justify-content: space-between;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.nav-link:hover {
  font-weight: bold;
  color: $accent;
}

.logo {
  background: none;
  border: none;

  &:hover {
    cursor: pointer;
  }
}

.socials {
  float: right;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 80px;
  margin-right: 7px;

  .linkedin-icon,
  .github-icon {
    width: 20px;
    height: 20px;
  }

  .linkedin-icon {
    color: $primary-900;

    &:hover {
      color: lighten($primary-900, 20%);
    }
  }

  .github-icon {
    color: $light;

    &:hover {
      color: darken($light, 20%);
    }
  }
}

.intro {
  height: 500px;
}

.content-wrapper {
  margin: 40px auto auto auto;
  display: flex;
  width: 80%;
}
