@import 'assets/styles/Theme.scss';
@import 'assets/styles/Styling.scss';

.app {
  display: flex;
  flex-direction: column;
}

nav {
  position: fixed;
  width: 100%;
  background: $grey-dark;
  display: flex;
  justify-content: space-between;
  box-shadow: #00000029 0px 3px 6px, #0000003b 0px 3px 6px;
  z-index: 1;
}

.nav-link:hover {
  font-weight: bold;
  color: $accent;
}

.logo {
  background: none;
  border: none;

  &:hover {
    cursor: pointer;
  }
}

.icons {
  float: right;
  display: flex;
  align-items: center;
  justify-content: end;
  margin-right: 7px;

  .linkedin-icon,
  .github-icon {
    width: 20px;
    height: 20px;
    padding: 10px;
  }

  .linkedin-icon {
    color: $primary-900;

    &:hover {
      color: lighten($primary-900, 20%);
    }
  }

  .github-icon {
    color: $light;

    &:hover {
      color: darken($light, 20%);
    }
  }

  .cv-icon {
    color: $accent;
    width: 20px;
    height: 20px;
    padding: 10px;
    vertical-align: middle;

    &:hover {
      color: lighten($accent, 10%);
    }
  }
}

.intro {
  height: 500px;
}

.content-wrapper {
  margin: 40px auto auto auto;
  display: flex;
  width: 80%;
}
