@import '../public/assets/styles/theme';
@import '../public/assets/styles/styling';

.app {
  display: flex;
  flex-direction: column;
}

nav {
  background: $grey-1;
  display: flex;
  justify-content: space-between;
}

.logo {
  background: none;
  border: none;

  &:hover {
    cursor: pointer;
  }
}

.socials {
  float: right;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80px;
  margin-right: 5px;

  .linkedin-icon,
  .github-icon {
    width: 35px;
    height: 35px;
  }

  .linkedin-icon {
    color: $primary-900;
  }

  .github-icon {
    color: $light;
  }
}

.intro {
  height: 500px;
}

.content-wrapper {
  margin: 40px auto auto auto;
  display: flex;
  width: 80%;
}
