@import '../public/assets/styles/Theme';
@import '../public/assets/styles/Typography';
@import '../public/assets/styles/Styling';

body {
  margin: 0;
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #0e0e10;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

h1 {
  font-size: $title-size;
  color: $light;
}

h2 {
  font-size: $subtitle-size;
}

p {
  font-size: $paragraph-size;
}

div {
  border-radius: $border-radius;
}

a {
  text-decoration: none;
}

.link {
  color: $accent;
}
