@import '../public/assets/styles/Theme';
@import '../public/assets/styles/Typography';
@import '../public/assets/styles/Styling';

body {
  margin: 0;
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #0e0e10;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

h1 {
  font-size: $font-title-size;
  color: $light;
}

h2 {
  font-size: $font-subtitle-size;
  color: $light;
}

p {
  font-size: $font-paragraph-size;
}

div {
  border-radius: $border-radius-container;
}

a {
  text-decoration: none !important;
  color: #8a75ff;
}

span {
  font-family: 'Roboto';
  font-weight: 100;
}
