@import "colors";

.wrapper {
  padding: 1.25rem;
  border: 0.0625rem solid $light;
  border-radius: 0.625rem;

  .activity-title {
    font-family: "Nunito";
    font-size: 1.5rem;
    letter-spacing: 0.0625rem;
    color: $blue;
    margin-bottom: 1.5625rem;
  }

  .activity {
    font-family: "Nunito";
    font-size: 1rem;
    font-weight: 200;
    color: $light;
    line-height: 1.5;
    letter-spacing: 0.0625rem;
    margin: 0.3125rem;

    span {
      color: $orange;
    }
  }
}
