// Standard
$blue: #315ab7;
$orange: #f57c00;
$grey: #575757;
$pink: #ec407a;

// Light
$light: #f5f5f5;
$light-grey: #d9d9d9;

// Dark
$dark-blue: #253d74;
$dark-grey: #3a3a3a;

// Content
$content-page-background: $light;

// Typography
$text-hyperlink: #3367d6;
$text-title: $dark-grey;
$text-subtitle: $grey;

$theme: (
  color-blue: $blue,
  color-orange: $orange,
  color-grey: $grey,
  color-dark-blue: $dark-blue,
  color-dark-grey: $dark-grey,
  color-light: $light,
  color-light-grey: $light-grey,
  color-text-title: $text-title,
  color-text-subtitle: $text-subtitle,
  color-text-hyperlink: $text-hyperlink,
  color-content-page-background: $content-page-background
);

:export {
  color-light: $light-grey;
  color-extra-light: $light;
  color-grey: $grey;
  color-dark-grey: $dark-grey;
  color-orange: $orange;
  color-blue: $blue;
  color-pink: $pink;
  color-dark-blue: $dark-blue;
  color-dark-grey: $dark-grey;
  color-hyperlink: $text-hyperlink;
  color-title: $text-title;
  color-page-background: $content-page-background;
}
