// Standard
$blue: #315ab7;
$orange: #f57c00;
$yellow: #ffbe32;
$grey: #575757;
$pink: #ec407a;
$red: #ff5252;

// Light
$light: #f5f5f5;
$light-grey: #d9d9d9;

// Dark
$dark-blue: #253d74;
$dark-orange: #f4602c;
$dark-grey: #3a3a3a;
$dark-blue-black: #001220;

// Content
$content-page-background: $dark-blue-black;

// Typography
$text-hyperlink: #3367d6;
$text-title: $dark-grey;
$text-subtitle: $grey;

/////////////////////////////////////
///
///     Wave Curve Generation
///
///     App dimensions: width - 1920px,  height - 400px
///
///     Shape:
///       - Balance: full
///       - Wave count: 6
///       - Complexity: 12
///       - Contrast: 6
///       - Overlap: 0
///

/// Curve start-end colors colors
$wave-curve-richblack: $dark-blue-black;
$wave-curve-halloweenorange: $dark-orange;
$wave-curve-brandeisblue: #0066ff;
$wave-curve-midnight: #00408b;
$wave-curve-light: $light;
