/*
 * Style of long bodies of text.
 */
@mixin article-text($font-size, $font-weight, $color) {
  font-family: "Nunito", sans-serif;
  font-size: $font-size;
  font-weight: $font-weight;
  color: $color;
  line-height: 1.5;
}

@mixin divider($thickness, $color, $margin) {
  height: 0.0625rem;
  border-bottom: $thickness solid $color;
  width: 100%;
  margin: $margin;
}

/*
 * Creates an underline with a specified thickness, color, and width 
 * beneath a block element with relative position.
 */
@mixin underline($thickness, $color, $width, $padding-top) {
  &:after {
    position: absolute;
    content: "";
    height: 0.0625rem;
    border-bottom: $thickness solid $color;
    width: $width;
    bottom: -$padding-top;
    left: calc((100% - $width) / 2);
  }
}

@mixin wave-border($aspect-ratio, $wave-source) {
  min-height: 150px;
  width: 100%;
  aspect-ratio: $aspect-ratio;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url($wave-source);
  background-color: $light;
}
