@import 'colors';

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@mixin divider($thickness, $color, $margin) {
  height: 1px;
  border-bottom: $thickness solid $color;
  width: 100%;
  margin: $margin;
}

/*
 * Creates an underline with a specified thickness, color, and width 
 * beneath a block element with relative position.
 */
@mixin underline($thickness, $color, $width, $padding-top) {
  &:after {
    position: absolute;
    content: '';
    height: 1px;
    border-bottom: $thickness solid $color;
    width: $width;
    bottom: -$padding-top;
    left: calc((100% - $width) / 2);
  }
}

/*
 * Style of long bodies of text.
 */
@mixin article-text {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.714;
  color: rgba(0, 0, 0, 0.87);
}

@mixin page-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 60%;
  margin: auto;
  background-color: white;
}
