@import 'colors';

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@mixin divider-bottom {
  &::after {
    border-bottom: 1px solid $light;
    width: 50%;
    position: absolute;
    content: '';
  }
}
