@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.divider {
  border-bottom: 1px solid gray;
  margin-top: 15px;
  margin-bottom: 15px;
}
