@import "colors";

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 25rem;
  padding: 2rem 0;

  .header {
    font-family: "Source Code Pro", "Nunito", sans-serif;
    font-size: clamp(0.75rem, 1rem + 1vw, 4rem);
    color: $grey;
    font-weight: 400;
    max-width: 70%;
    text-align: center;
    margin: 0 0 3rem;
  }

  .list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 50%;
    gap: clamp(0.5rem, 1vw, 3rem);
  }
}
