@import "colors";

@mixin header {
  font-family: "Quicksand", "Nunito", sans-serif;
  font-size: 2rem;
  font-weight: 300;
  max-width: 56.25rem;
  text-align: center;
  margin: 0 0 1.5625rem;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 25rem;

  .header {
    font-family: "Quicksand", "Nunito", sans-serif;
    font-size: 2rem;
    font-weight: 300;
    max-width: 70%;
    text-align: center;
    margin: 0 0 1.5625rem;
  }

  .list {
    display: grid;
    width: 50%;
    grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr));
    gap: 2rem;
  }
}
