@import "colors", "mixins";

.title {
  font-family: "Roboto", sans-serif;
  font-size: 32px;
  font-weight: 500;
  text-align: left;
  margin-top: 0px;
  margin-bottom: 30px;
  color: #3367d6;
}

.section-title {
  font-family: "Nunito", sans-serif;
  font-size: 28px;
  font-weight: 300;
  color: $dark-orange;
  margin: 15px 0 15px 0;
}

.section-subtitle {
  font-family: "Nunito", sans-serif;
  font-size: 20px;
  font-weight: 100;
  color: $orange;
  margin: 15px 0 15px 0;
}

.section-content {
  @include article-text(1rem, 100, $light);
  margin: 8px 0 8px 0;
}

.section-link {
  color: lighten($text-hyperlink, 10%);
  letter-spacing: 1px;
}
