@import "colors", "mixins";

.title {
  font-family: "Roboto", sans-serif;
  font-size: clamp(0.75rem, 2rem + 1vw, 6rem);
  font-weight: 300;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  color: $light-grey;
}

.divider {
  @include divider(0.0625rem, $dark-grey, 2.5rem 0);
}

.section-title {
  font-family: "Nunito", sans-serif;
  font-size: 1.75rem;
  font-weight: 300;
  color: $blue;
  margin: 0.9375rem 0;
}

.section-subtitle {
  font-family: "Nunito", sans-serif;
  font-size: 1.25rem;
  font-weight: 100;
  color: $orange;
  margin: 0.9375rem 0;
}

.section-content {
  @include article-text(clamp(1rem, 0.6rem + 0.5vw, 2rem), 100, $light);
  margin: 0.5rem 0;
}

.section-link {
  color: lighten($text-hyperlink, 10%);
  letter-spacing: 0.0625rem;
}
