@import "colors", "mixins";

.title {
  font-family: "Roboto", sans-serif;
  font-size: 3rem;
  font-weight: 500;
  text-align: left;
  margin-top: 0;
  margin-bottom: 1.875rem;
  color: #727272;
}

.section-title {
  font-family: "Nunito", sans-serif;
  font-size: 1.75rem;
  font-weight: 300;
  color: $blue;
  margin: 0.9375rem 0;
}

.section-subtitle {
  font-family: "Nunito", sans-serif;
  font-size: 1.25rem;
  font-weight: 100;
  color: $orange;
  margin: 0.9375rem 0;
}

.section-content {
  @include article-text(1rem, 100, $light);
  margin: 0.5rem 0;
}

.section-link {
  color: lighten($text-hyperlink, 10%);
  letter-spacing: 0.0625rem;
}
