@import "colors";

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  .error {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    font-family: "Nunito", sans-serif;
    flex-basis: clamp(10%, calc(25vw - 5px), 50%);
    margin: 0 clamp(1rem, 0.5rem + 1vw, 4rem);

    .oops {
      font-size: clamp(1.5rem, 1rem + 2vw, 6rem);
      font-weight: 400;
      color: $red;
      margin: 0;
    }

    .msg {
      font-size: clamp(0rem, 0.8rem + 1vw, 6rem);
      font-weight: 100;
      color: $light;
      margin: 0;
    }

    .try-later {
      font-size: clamp(0.5rem, 0.2rem + 1vw, 3rem);
      font-weight: 300;
      letter-spacing: 0.0625rem;
      color: $light-grey;
      margin: 1rem 0 0;
    }
  }

  .failure-img {
    flex-basis: clamp(4rem, calc(20vw - 5px), 20%);
    min-width: 6rem;

    img {
      width: 100%;
      height: auto;
    }
  }
}
