.chart-wrapper {
  display: flex;
  margin: 5px;
}

.chart-legend {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-self: center;
  height: 200px;
  margin: 10px;
}

.chart-legend-lang {
  font-size: 14px;
  font-family: 'Roboto';
}

.pie-chart {
  width: 300px;
  margin: 10px;
}
