@import 'colors', 'navigation';

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  .error {
    margin: 10px;
    text-align: center;
    max-width: 300px;

    .err-msg {
      font-family: 'Nunito', sans-serif;
      font-size: 3rem;
      font-weight: 100;
      color: $light;
      margin: 0;

      span {
        font-weight: 500;
        color: $red;
      }
    }

    .err-msg-try-later {
      font-family: 'Nunito', sans-serif;
      font-size: 1.5rem;
      font-weight: 100;
      letter-spacing: 1px;
      color: $light-grey;
      margin: 20px 0 0;
    }
  }

  img {
    margin: 10px;
    max-width: 200px;
  }
}
