@import 'colors';

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  .error {
    margin-left: 30px;
    text-align: center;
    max-width: 300px;

    .err-msg {
      font-family: 'Nunito', sans-serif;
      font-size: 26px;
      font-weight: 100;
      color: $light;
      margin-bottom: 10px;

      span {
        font-weight: 300;
        color: $red;
      }
    }

    .err-msg-try-later {
      font-family: 'Roboto', sans-serif;
      font-size: 18px;
      font-weight: 300;
      letter-spacing: 1px;
      color: darken($light, 10%);
      margin-top: 20px;
    }
  }

  img {
    max-width: 150px;
  }
}
